# macOS system files
.DS_Store

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Temporary files
*.log
*.tmp
*.bak

# IDE and editor files
.vscode/
.idea/
*.swp

#other ignored files
learning_oop/